<div class="m-5">
    <h5 class="mb-4">Register new Task31 account</h5>
    <form>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter your unique username" [(ngModel)]="user.username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" [(ngModel)]="user.password">
        </div>
        <div class="form-group">
            <label for="repeatedPassword">Once more, just to be sure</label>
            <input type="password" class="form-control" id="repeatedPassword" name="repeatedPassword" placeholder="Repeat your password" [(ngModel)]="repeatedPassword">
        </div>

        <button type="button" class="btn btn-success btn-lg mt-3 mr-2 pl-4 pr-4" (click)="onSaveClicked()">Save</button>
        <button type="button" class="btn btn-secondary btn-lg mt-3" (click)="onCancelClicked()">Cancel</button>
    </form>
</div>