<form class="m-5">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" [(ngModel)]="user.username">
        You typed: {{ user.username }}
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password" >
        Your super secret password: {{ user.password }}
    </div>
<!--     <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Show password</label>
    </div> -->
    <button type="button" class="btn btn-primary btn-lg mr-2" (click)="onLoginClicked()">Log in</button>
    <button type="button" class="btn btn-default btn-lg" name="link" (click)="onRegisterClicked()">Register new account</button>
</form>
